<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>Сервлеты akhmelev</display-name>
    <welcome-file-list>
        <welcome-file>INDEX</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>by.it.a_khmelev.project07.java.controller.FrontController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/do</url-pattern>
        <url-pattern>/INDEX</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FilterEncode</filter-name>
        <filter-class>by.it.a_khmelev.project07.java.filters.FilterEncode</filter-class>
        <init-param>
            <param-name>encode</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>FilterEncode</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Auth</filter-name>
        <filter-class>by.it.a_khmelev.project07.java.filters.Auth</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Auth</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



</web-app>